    <article class="post card">
      <div class="title card-title">
        <a href="/post/{{id}}" target="_blank">{{title}}</a>
      </div>
      <div class="meta card-text">
         on
        {{format_date created_at}}
        {{!-- | --}}
        {{!-- <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a> --}}
      </div>
    </article>